#navbar {
    background-color:  #707b7c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding: 25px;
}

.nav-buttons a {
    color: white;
    font-size: 25px;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
}


body {
    background: #424242;
}

#text {
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding: 25px;
}