.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    min-height: 50vh;
    padding: 20px;
    gap: 5vh;
    flex-direction: column;
  }

.body {
    width: auto;
    max-width: 900px;
    height: auto;
    background: #112240;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    object-fit: cover;
}

.body-text {
    font-size: large;
    text-align: center;
}

.lists li{
    font-size: large;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.yellow-heading {
  color: #ffc400; /* Same yellow as boxes */
}

h2 {
  text-align: center;
}

h3 {
  text-align: left;
}

.lists, h2, h3 {
  width: 100%;
}

@media (max-width: 600px) {
    .home-container {
      padding: 10px;
    }
  
    .body {
      padding: 20px;
    }
  
    .responsive-image {
      max-width: 100%;
    }
  }

.skills-section {
    width: 100%; /* Make sure skills section takes full width */
    padding: 0;
}

.skill-item {
    width: 100%; /* Ensure each skill item spans full width */
    margin-bottom: 20px;
}

.skill-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.skill-bar-container {
  width: 100%; /* Full width of parent container */
  height: 20px;
  background-color: #112240;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
}

.skill-bar {
  height: 100%;
  background: linear-gradient(90deg, #ffd700, #ff9800);
  border-radius: 10px;
  transition: width 1s ease-in-out;
}

.skill-percentage {
  font-size: 14px;
  color: #ffd700;
  margin-top: 5px;
}