.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    min-height: 50vh;
    padding: 20px;
    gap: 5vh;
    flex-direction: column;
  }

.body {
    max-width: 900px;
    height: auto;
    background: #112240;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    object-fit: cover;
}

.body-text {
    font-size: large;
    text-align: left;
    color:#c1d0e4;
}

.email-link {
    color:#7bf4ff;
    text-decoration: underline;
    text-align: left;
}

.yellow-heading {
  color: #ffc400; /* Same yellow as boxes */
}

.large-name {
  font-size: 50px;;
}

b {
  color: #ffc400; /* Yellow color for all <b> tags */
}

.responsive-image {
    width: 100%; /* Makes the image take up the full width of its container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Removes any extra space below the image */
    border-radius: 20px;
    max-width: 100%; /* Ensures image doesn't exceed container width */
    object-fit: contain; /* Maintains aspect ratio within container */
}

@media (max-width: 600px) {
    .home-container {
      padding: 10px;
    }
  
    .body {
      padding: 20px;
    }
  
    .responsive-image {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }